:root {
    --background: #0061C2;
    --foreground: #FFFFFF;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
        clip-path: inset(0.6px)
    }
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        /* turns off smooth-scrolling behavior (if turned on) when prefers-reduced-motion is active*/
        scroll-behavior: auto;
    }

    *:not(.animates-without-motion),
    *:not(.animates-without-motion)::before,
    *:not(.animates-without-motion)::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ubuntu);
}

body {
    margin: 0;
    background-color: var(--background);
    font-family: var(--source);
}

header, footer {
    color: var(--foreground)
}

main {
    background-color: var(--foreground);
    color: #1c1c1b;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    position: relative;
    z-index: 2;
}


